@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #f1d2d2;
  --secondary-color: #264248 ;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}

.search::placeholder {
  color: #3e5223;
}

.search-bar:focus {
  outline: none;
  background-color: var(--primary-color);
}
.search-bar:hover{
  background-color: #4fa3a5;
  color: #fff;
}
.search-bar{
  width: 800px;
  height: 50px;
  background-color: #fdae38;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.search-bar > i{
  font-size: 20px;
  color: #777;
  padding: 5px;
}
#search{
  flex: 1;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: #704a27;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #4fa3a5;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.btnTopMovies{
  background-color: #fdae38;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 5px;
  
}
.btnTopMovies:hover{
  background-color: #4fa3a5;
  color: #fff;
}